{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@emotion",
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "@emotion/jsx-import": "error",
    "@emotion/no-vanilla": "error",
    "prettier/prettier": ["error"],
    "use-isnan": "error",
    "no-unreachable": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "require-jsdoc": "off",
    "no-case-declarations": "off"
  },
  "ignorePatterns": ["*.config.*", "*.test.*", "coverage/*"]
}
